.mat-toolbar.mat-primary {
    background: #fff;
    color: #000;
    box-shadow: 1px 1px #f1f3f4;
    margin-bottom: 5px;
}


.example-container{
    min-height: -moz-calc(100% - 70px); /* Firefox */
    min-height: -webkit-calc(100% - 70px); /* Chrome, Safari */
    min-height: calc(100% - 70px); /* IE9+ and future browsers */
}

.nav-header{
    height: 50px;
}

.mat-drawer-container {
    background-color: #fff;
}

.mat-drawer-content {
    overflow: hidden;
    margin: 0 auto;
}

.banner-note{
    margin: 0 5px;
}

.active-link, .active-link:focus{
    background-color: #ffc10724;
}

.mat-drawer-content.mat-sidenav-content{
    /* margin-left: 15vw!important; */
}

.mat-drawer.mat-drawer-side {
    width: 15vw;
}


.search-icon{
    background: url(/assets/search.png) no-repeat scroll 5px 7px;
    padding-left:30px;
    background-size: 20px auto;
}