<mat-toolbar color="primary" class="nav-header">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="white">
            <img class="img img-responsive" width="30px" src="../../assets/menu.png">
        </button>
        <h4 class="banner-note">Notes</h4>
        <input [(ngModel)]="searchValue" (ngModelChange)="searchNote($event)" style="width: 50%; margin: 0 auto;" placeholder="Search" type="text" class="form-control search-icon">
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
        <mat-nav-list>
            <a routerLinkActive="active-link" mat-list-item routerLink='/' [routerLinkActiveOptions]="{ exact: true }">All notes</a>
            <a routerLinkActive="active-link" *ngFor="let category of categroies; let index = index;" mat-list-item routerLink='/category-details/{{index}}'>{{category.categoryName}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
