<div class="card-wrapper">
    <input (click)="createNote()" placeholder="Create new note" style="width: 55%; margin: 0 auto;" type="text" class="form-control pencil-icon">
    <div class="row cards">
        <div *ngIf="!isSearchValue" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <app-note  cdkDrag class="example-box" *ngFor="let noteDetails of noteDetailsOrder" [noteDetails]=noteDetailsArray[noteDetails] [index]=noteDetails></app-note>
        </div>
        <div *ngIf="isSearchValue" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <app-note class="example-box" *ngFor="let noteDetails of noteDetailsOrder" [noteDetails]=noteDetailsArray[noteDetails] [index]=noteDetails></app-note>
        </div>
    </div>
</div>